config VIDEO_EXYNOS_FIMC_IS
	bool "Exynos FIMC-IS (Image Subsystem) driver"
	depends on VIDEO_EXYNOS && !SOC_EXYNOS5410 && !SOC_EXYNOS5420
	select MEDIA_EXYNOS
	default n
	help
	  This is a v4l2 driver for exynos FIMC-IS device.
config FIMC_IS_SUPPORT_V4L2_CAMERA
	bool "Support V4L2 camera interface"
        depends on VIDEO_EXYNOS_FIMC_IS
	default n
	help
	  This configuration supports standard V4L2 interface.
	  We can use fimc-is camera chain with V4L2 interface
	  similar to USB Web camera.
	  This configuration cannot support internal ISP feature
	  of FIMC-IS chain.